//
// Custom overrides from a user.
//

.className {color: rgb(60, 149, 250); font-weight: bold; }
.fcnName {color:#44a8fa; }
.structName {color:rgb(19, 104, 38); font-weight: bold;}
.structProp {color:rgb(30, 141, 54); font-style: italic;}
    
.highlight .c1 {
color: #93a1a1;
font-style:italic ;
} // comment.single //
.highlight .n {
    color: #586e75;
} // name //

.head-custom{ 
    font-family: 'Roboto', sans-serif;
}
.head-custom-blue{
    color: #44a8fa;
}

.simple{
    font-family: 'Roboto', sans-serif;
}
.foc{
    color: #44a8fa;
}
.site-title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


// responsive images and videos.img300{
.img200{
    height: 200px;
}
.img300{
    height: 300px;
}
.youtube{
    width: 600px;
    height: 350px;
}
@media (max-width: 600px) {
    .youtube{
        width: 100%;
        height: 250px;
    }
    .img300{
        height:inherit;
        width: 100%;
    }
    .img200{
        height:inherit;
        width: 100%;
    }
    .img200.img_half{
        height:inherit;
        width: 50%;
    }
}
