//
// Custom overrides from a user.
//

.className {color: rgb(60, 149, 250); font-weight: bold; }
.fcnName {color:#44a8fa; }
.structName {color:rgb(19, 104, 38); font-weight: bold;}
.structProp {color:rgb(30, 141, 54); font-style: italic;}
    
.highlight .c1 {
color: #93a1a1;
font-style:italic ;
} // comment.single //
.highlight .n {
    color: #586e75;
} // name //

.head-custom{ 
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.head-custom-blue{
    color: #44a8fa;
}

.simple{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.foc{
    color: #44a8fa;
}
.site-title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


// responsive images and videos{
.width80{
    width:80%;
}
.img200{
    height: 200px;
}
.img300{
    height: 300px;
}
.img500{
    height: 500px;
}
.img50p{
    width: 50%;
}
.img400{
    height: 400px;
}
.youtube{
    width: 600px;
    height: 350px;
}
@media (max-width: 600px) {
    .youtube{
        width: 100%;
        height: 250px;
    }
    .img500{
        height:inherit;
        width: 100%;
    }
    .img400{
        height:inherit;
        width: 100%;
    }
    .img300{
        height:inherit;
        width: 100%;
    }
    .img200{
        height:inherit;
        width: 100%;
    }
    .img50p{
        height:inherit;
        width: 100%;
    }
    .width80{
        width:100%;
    }
    .img_half{
        height:inherit;
        width: 50%;
    }
}
a{
    text-decoration: none !important;
}

blockquote {
    margin: 0.2em;
    margin-left: 0.7em;
    padding: 5px;
    padding-left: 10px;
    border-left: 5px solid;
    border-radius: 3px;
    color: #686969;
}
blockquote p{
    margin-bottom: 1px;
}
blockquote p.heading{
    font-style: normal;
    font-weight: bold;
}
blockquote.danger{
    border-left-color: #f66;
    background-color: rgba(255,102,102,.1);
}
blockquote.info{
    border-left-color: #6bf;
    background-color: rgba(102,187,255,.1);
}
blockquote.warning{
    border-left-color: #fd6;
    background-color: rgba(255,221,102,.1);
}

.image_icon{
    position: relative;
} 
.image_icon img{
    display: block; 
}
.image_icon .fa {
    position: absolute; 
    bottom:10px; 
    left:10px; 
}
.image_icon a{
    color: #686969;
}
.image_icon a:hover{
    color: #44a8fa;
}